@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Amiri', serif; */
/* font-family: 'Pridi', serif; */


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background: linear-gradient(90deg ,#fff 15%,#fff 50%, #fff 30%, #DDDDDD 100% );

}

header {
    position: relative;
    max-width: 100%;
    margin: 0px auto;
    padding: 10px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    opacity: 0.9;
    
}



.logo img {
    width: 80px;
    line-height: 60px;
    padding: 0 20px;
    float: left;
    text-decoration: none;
}

nav {
    float: right;
}

.clearfix {
    clear: both;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #30475E;
    font-size: 1.5em;
}

nav ul li a.active, 
nav ul li a:hover {
    background: #30475E;
    color: #fff;
    border-radius: 5px;
    transition: 0.5s;
}

@media (max-width: 1800px) {

    header {
        margin: 20px;
    }
}

@media (max-width: 768px) {
    
    .menu-toggle {
        margin: 20px;
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #30475E;
    }
    .menu-toggle::before {
        content: ' \f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }

    .menu-toggle.active::before {
        content: ' \f00d';
    }
    
    nav {
        display: none;
    }

    nav.active {
        display: block;
        width: 100%;
    }

    nav.active ul {
        display: block;
    }

    nav.active ul li a{
        margin: 0;
    }
}

