@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: linear-gradient(90deg, #fff 15%, #fff 50%, #fff 30%, #dddddd 100%);
}

header {
  position: fixed;
  max-width: 100%;
  left: 0;
  right: 0;
  margin: 10px auto;
  padding: 10px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  z-index: 1;
}

.banner {
  position: relative;
  margin-top: 0;
  min-height: 100vh;
  background: url(../static/images/banner.jpg) 100%;
  background-size: 100%;
  min-height: 900px;
  background-repeat: no-repeat;
}

.logo img {
  width: 100px;
  /* padding: 0 20px; */
  float: left;
  text-decoration: none;
}

nav {
  float: right;
}

.clearfix {
  clear: both;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  margin: 10px 10px;
  padding: 10px 20px;
  text-decoration: none;
  color: #30475e;
  font-size: 1.5em;
}

nav ul li a.active,
nav ul li a:hover {
  background: #30475e;
  color: #fff;
  border-radius: 5px;
  transition: 0.5s;
}

@media (max-width: 1800px) {
  header {
    margin: 20px;
  }
}

@media (max-width: 768px) {
  .menu-toggle {
    margin: 20px;
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: #30475e;
  }
  .menu-toggle::before {
    content: ' \f0c9';
    font-family: fontAwesome;
    line-height: 40px;
  }

  .menu-toggle.active::before {
    content: ' \f00d';
  }

  nav {
    display: none;
  }

  nav.active {
    display: block;
    width: 100%;
  }

  nav.active ul {
    display: block;
  }

  nav.active ul li a {
    margin: 5px;
  }
}

.section-title-wrap {
  position: relative;
  padding: 40px 62px;
}

.section-title {
  position: relative;
  left: 0;
  background: #30475e;
  margin-top: 150px;
  width: 290px;
  padding: 10px;
  border-radius: 5px;
  opacity: 0.9;
  color: #dddddd;
  font-size: 2.5em;
}

.realisations {
  margin: 0px;
}

.portofolio {
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
}

.renov {
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  max-width: 100%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.no-grid {
  min-width: 350px;
  height: 500px;
  flex: 1;
  transition: 0.5s;
}

.no-grid:hover {
  /* margin: 20px; */
  padding: 10px;
  /* -webkit-transform: scale(1.1);
  transform: scale(1.1); */
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.renov1 {
  background-image: url(../static/images/img1.jpg);
  margin: 10px;
  transition: 0.3s;
}

.renov2 {
  background-image: url(../static/images/img2.jpg);
  margin: 10px;
}

.renov3 {
  background-image: url(../static/images/img3.jpg);
  margin: 10px;
}

.renov4 {
  background-image: url(../static/images/img4.jpg);
  margin: 10px;
}

footer {
  position: relative;
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

footer p {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #30475e;
  font-size: 1em;
}

footer a {
  background: #30475e;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}

@media (max-width: 991px) {
  body {
    background: #fff;
  }

  .section-title-wrap {
    padding: 40px 27px;
  }

  .portofolio {
    padding: 15px;
  }

  .renov {
    flex-direction: column;
  }

  .no-grid:hover {
    margin: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
}
