@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: linear-gradient(90deg, #fff 15%, #fff 50%, #fff 30%, #dddddd 100%);
}

header {
  position: fixed;
  max-width: 100%;
  left: 0;
  right: 0;
  margin: 10px auto;
  padding: 10px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  z-index: 1;
}

.banner {
  position: relative;
  margin-top: 0;
  min-height: 100vh;
  background: url(../static/images/banner.jpg) 100%;
  background-size: 100%;
  min-height: 900px;
  background-repeat: no-repeat;
}

.logo img {
  width: 100px;
  /* padding: 0 20px; */
  float: left;
  text-decoration: none;
}

nav {
  float: right;
}

.clearfix {
  clear: both;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  margin: 10px 10px;
  padding: 10px 20px;
  text-decoration: none;
  color: #30475e;
  font-size: 1.5em;
}

nav ul li a.active,
nav ul li a:hover {
  background: #30475e;
  color: #fff;
  border-radius: 5px;
  transition: 0.5s;
}

@media (max-width: 1800px) {
  header {
    margin: 20px;
  }
}

@media (max-width: 768px) {
  .menu-toggle {
    margin: 20px;
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: #30475e;
  }
  .menu-toggle::before {
    content: ' \f0c9';
    font-family: fontAwesome;
    line-height: 40px;
  }

  .menu-toggle.active::before {
    content: ' \f00d';
  }

  nav {
    display: none;
  }

  nav.active {
    display: block;
    width: 100%;
  }

  nav.active ul {
    display: block;
  }

  nav.active ul li a {
    margin: 5px;
  }
}

.section-title-wrap {
  position: relative;
  padding: 40px 100px;
}

.section-title {
  position: relative;
  left: 60px;
  background: #30475e;
  margin-top: 95px;
  width: 290px;
  padding: 10px;
  border-radius: 5px;
  opacity: 0.9;
  color: #dddddd;
  font-size: 2.5em;
}

.realisations {
  margin: 0px;
}

.portofolio {
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
}

.renov {
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  max-width: 100%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.no-grid {
  min-width: 350px;
  height: 500px;
  flex: 1;
  transition: 0.5s;
}

.no-grid:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* .no-grid:hover {
    min-width: 430px;
    height: 510px;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
    transition: 0.2s;
} */

.renov1 {
  background-image: url(../static/images/img1.jpg);
  margin: 10px;
  transition: 0.3s;
}

.renov2 {
  background-image: url(../static/images/img2.jpg);
  margin: 10px;
}

.renov3 {
  background-image: url(../static/images/img3.jpg);
  margin: 10px;
}

.renov4 {
  background-image: url(../static/images/img4.jpg);
  margin: 10px;
}


footer {
  position: relative;
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
}

footer p {
  /* background: #30475e; */
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: #fff; */
  font-size: 1em;
}

footer a {
  background: #30475e;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}

