@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
/* @import url('../fonts/Alta_Typeface/Alta_regular.otf'); */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Amiri', serif; */
/* font-family: 'Pridi', serif; */

/* background: linear-gradient(90deg ,#DDDDDD 15%,#DDDDDD 50%, #30475E 30%, #222831 100% ); */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: linear-gradient(90deg, #fff 15%, #fff 50%, #fff 30%, #dddddd 100%);
}

.loader-wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.loader {
  z-index: 9999;
  background: url(../static/images/Sans-titre.gif) no-repeat;
  background-position: center center;
  background-size: contain;
  height: 100%;
  width: 100%;
  cursor: wait;
}

header {
  position: fixed;
  max-width: 100%;
  left: 0;
  right: 0;
  margin: 10px auto;
  padding: 10px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  z-index: 1;
}

.banner {
  position: relative;
  margin-top: 0;
  min-height: 100vh;
  background: url(../static/images/banner.jpg) 100%;
  background-size: 100%;
  min-height: 900px;
  background-repeat: no-repeat;
}

.logo img {
  width: 100px;
  /* padding: 0 20px; */
  float: left;
  text-decoration: none;
}

nav {
  float: right;
}

.clearfix {
  clear: both;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  margin: 10px 10px;
  padding: 10px 20px;
  text-decoration: none;
  color: #30475e;
  font-size: 1.5em;
}

nav ul li a.active,
nav ul li a:hover {
  background: #30475e;
  color: #fff;
  border-radius: 5px;
  transition: 0.5s;
}

@media (max-width: 1800px) {
  header {
    margin: 20px;
  }
}

@media (max-width: 768px) {
  .menu-toggle {
    margin: 20px;
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: #30475e;
  }
  .menu-toggle::before {
    content: ' \f0c9';
    font-family: fontAwesome;
    line-height: 40px;
  }

  .menu-toggle.active::before {
    content: ' \f00d';
  }

  nav {
    display: none;
  }

  nav.active {
    display: block;
    width: 100%;
  }

  nav.active ul {
    display: block;
  }

  nav.active ul li a {
    margin: 5px;
  }
}

.text {
  position: relative;
  display: flex;
  right: 0;
  top: 20vh;
  background: #30475e;
  width: 900px;
  height: 260px;
  opacity: 0.9;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.text h2 {
  margin: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  color: #fff;
}

.btcontact {
  position: absolute;
  top: 43vh;
  left: 50px;
}

.btcontact a {
  background: #fff;
  padding: 10px;
  color: #30475e;
  border-radius: 15px;
  font-size: 2em;
  text-decoration: none;
  opacity: 0.9;
  transition: 0.3s;
}

.btcontact a:hover {
  padding: 20px;
  opacity: 1;
  transition: 0.3s;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.who {
  margin: 70px;
  background-color: #fff;
  margin-top: 75px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.who h3 {
  color: #30475e;
  font-size: 3em;
}

.who p {
  margin: 70px;
  font-size: 1.4em;
}

.btabout {
  margin-top: 230px;
  position: absolute;
  left: 140px;
}

.btabout a {
  padding: 15px;
  background: #30475e;
  color: #fff;
  border-radius: 15px;
  font-size: 1.3em;
  transition: 0.2s;
}

.btabout a:hover {
  padding: 20px;
  transition: 0.2s;
  box-shadow: rgb(38, 57, 77) 0px 10px 15px -10px;
}

.work {
  position: relative;
  margin: 50px;
}

.work .renovation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.renov {
  position: relative;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #fff;
  border-radius: 15px;
  max-width: 100%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.no-grid {
  min-width: 80px;
  height: 600px;
  margin: 15px;
  flex: 1;
  transition: 0.5s;
}

.no-grid:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.renov h3 {
  color: #30475e;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.renov h3::before {
  content: '';
  flex: 1 1;
  border-bottom: 2px solid #000;
  margin: auto;
}

.renov h3 img {
  margin-bottom: -45px;
  width: 250px;
}

.renov p {
  color: #30475e;
  margin: 15px;
  font-size: 1.2em;
}

.hardpoint {
  background: #fff;
  margin: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hardpoint h3 {
  color: #30475e;
  font-size: 3em;
}

.portofolio {
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
}

.renov {
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  max-width: 100%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.no-grid {
  min-width: 350px;
  height: 500px;
  flex: 1;
  transition: 0.5s;
}

.no-grid:hover {
  margin: 20px;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.renov1 {
  background-image: url(../static/images/img1.jpg);
  margin: 10px;
  transition: 0.3s;
}

.renov2 {
  background-image: url(../static/images/img2.jpg);
  margin: 10px;
}

.renov3 {
  background-image: url(../static/images/img3.jpg);
  margin: 10px;
}

footer {
  position: relative;
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

footer p {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #30475e;
  font-size: 0.7em;
}

footer a {
  background: #30475e;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 0.7em;
}

@media (max-width: 991px) {
  body {
    background: #fff;
  }

  .banner {
    background-size: 100%;
    min-width: 100px;
    max-height: 450px;
    margin-right: 15px;
  }

  .text {
    min-width: 350px;
  }
}
