@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contactUs {
  position: relative;
  width: 100%;
  padding: 40px 100px;
}

.contactUs .title {
  margin-top: 95px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2em;
}

.contactUs .title h2 {
  color: #fff;
  background: #30475e;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
}

.form {
  grid-area: form;
}

.info {
  grid-area: info;
}

.map {
  grid-area: map;
}

.contact {
  padding: 40px;
  background: #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

.box {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* grid-template-rows: 5fr; */
  grid-template-areas:
    'form info'
    'form map';
  grid-gap: 20px;
  margin-top: 20px;
}

.contact h3 {
  color: #30475e;
  font-weight: 500;
  font-size: 1.4em;
  margin-bottom: 30px;
}

/* Form */
.formBox {
  position: relative;
  width: 100%;
}

.formBox .row50 {
  display: flex;
  gap: 20px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}

.formBox .row100 .inputBox {
  width: 100%;
}

.inputBox span {
  color: #30475e;
  margin: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}

.inputBox input {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
}

.inputBox textarea {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
  resize: none;
  min-height: 220px;
  margin-bottom: 10px;
}

.inputBox input[type='submit'] {
  background: #30475e;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  max-width: 120px;
  font-weight: 500;
  cursor: pointer;
  padding: 14px 15px;
  transition: 0.2s;
}
.inputBox input[type='submit']:hover {
  transition: 0.2s;
  box-shadow: rgb(38, 57, 77) 0px 10px 15px -10px;
}

.inputBox ::placeholder {
  color: #999;
}

/* Info Box */

.info {
  background: #fff;
}

.info h3 {
  color: #30475e;
}

.info .infoBox div {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.info .infoBox div span {
  min-width: 40px;
  height: 40px;
  color: #fff;
  background: #30475e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-radius: 50%;
  margin-right: 15px;
}

.info .infoBox div p {
  color: #30475e;
  font-size: 1.1em;
}

.info .infoBox div a {
  color: #30475e;
  font-size: 1.1em;
  text-decoration: none;
}

.sci {
  margin-top: 40px;
  display: flex;
}

.sci li {
  list-style: none;
  margin-right: 15px;
}

.sci li a {
  color: #30475e;
  font-size: 2em;
}

.sci li a:hover {
  color: #dddddd;
}

.map {
  padding: 0;
}

.map iframe {
  width: 100%;
  height: 100%;
}

/*  Responsive */

@media (max-width: 991px) {
  body {
    background: #fff;
  }
  .contactUs {
    padding: 20px;
  }
  .contactUs .title {
    margin-top: 115px;
  }

  .box {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'form'
      'info'
      'map';
  }

  .map {
    min-height: 300px;
  }

  .formBox .row50 {
    display: flex;
    gap: 0;
    flex-direction: column;
  }

  .inputBox {
    width: 100%;
  }

  .contact {
    padding: 30px;
  }

  .map {
    min-height: 300px;
    padding: 0;
  }
}
