@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
/* @import url('../fonts/Alta_Typeface/Alta_regular.otf'); */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Amiri', serif; */
/* font-family: 'Pridi', serif; */

/* background: linear-gradient(90deg ,#DDDDDD 15%,#DDDDDD 50%, #30475E 30%, #222831 100% ); */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: linear-gradient(90deg, #fff 15%, #fff 50%, #fff 30%, #dddddd 100%);
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.loader {
  position: relative;
  z-index: 9999;
  background: url(../static/images/Sans-titre.gif) no-repeat;
  height: 100%;
  width: 100%;
  top: 10%;
  left: 30%;
  cursor: wait;
}

header {
  position: relative;
  max-width: 100%;
  margin: 0px auto;
  padding: 10px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
}

.banner {
  position: relative;
  min-height: 100vh;
  background: url(../static/images/banner.jpg) 100%;
  background-size: 100%;
  min-height: 900px;
  background-repeat: no-repeat;
  padding-top: 20px;
}

.logo img {
  width: 100px;
  /* padding: 0 20px; */
  float: left;
  text-decoration: none;
}

nav {
  float: right;
}

.clearfix {
  clear: both;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #30475e;
  font-size: 1.5em;
}

nav ul li a.active,
nav ul li a:hover {
  background: #30475e;
  color: #fff;
  border-radius: 5px;
  transition: 0.5s;
}

@media (max-width: 1800px) {
  header {
    margin: 0 20px 20px;
  }
}

@media (max-width: 768px) {
  .menu-toggle {
    margin: 20px;
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: #30475e;
  }
  .menu-toggle::before {
    content: ' \f0c9';
    font-family: fontAwesome;
    line-height: 40px;
  }

  .menu-toggle.active::before {
    content: ' \f00d';
  }

  nav {
    display: none;
  }

  nav.active {
    display: block;
    width: 100%;
  }

  nav.active ul {
    display: block;
  }

  nav.active ul li a {
    margin: 0;
  }
}

.text {
  position: relative;
  display: flex;
  right: 0;
  top: 20vh;
  background: #30475e;
  width: 900px;
  height: 220px;
  opacity: 0.9;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.text h2 {
  margin: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  color: #dddddd;
}

.work {
  position: relative;
  margin: 50px;
}

.work .renovation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.renov {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #fff;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.no-grid {
  min-width: 80px;
  height: 600px;
  margin: 15px;
  flex: 1;
  transition: 0.5s;
}

.renov h3 {
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.renov h3 img {
  margin: 10px;
  background: #30475e;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.renov h3:hover {
  color: #30475e;
}

.renov p {
  margin: 15px;
  font-size: 1.2em;
}

/* .competance {
    position: relative;
    display: flex;
}

.upgrade {
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    top: 0;
    left: 20%;
    background: url(../static/images/img3.jpg) 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 800px;
    height: 400px;
    border-radius: 200px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 0.2s;
}

.upgrade h3{
    background: #30475E;
    padding: 10px;
    border-radius: 5px;
    opacity: 0.9;
    color: #DDDDDD;
    font-size: 2.5em;
}

.upgrade h3 a {
    text-decoration: none;
    color: #DDDDDD;
}

.upgrade:hover {
    width: 850px;
    height: 450px;
    border-radius: 10px;
    transition: 0.2s;
} */

footer {
  position: relative;
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
}

footer p {
  background: #30475e;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.5em;
}

footer a {
  background: #30475e;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}
