@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap');
/* font-family: 'Cormorant SC', serif; */
/* font-family: 'Cormorant Infant', serif; */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: linear-gradient(90deg, #fff 15%, #fff 50%, #fff 30%, #dddddd 100%);
}

.loader-wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.loader {
  z-index: 9999;
  background: url(../static/images/Sans-titre.gif) no-repeat;
  background-position: center center;
  background-size: contain;
  height: 100%;
  width: 100%;
  cursor: wait;
}

header {
  position: fixed;
  max-width: 100%;
  left: 0;
  right: 0;
  margin: 10px auto;
  padding: 10px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  z-index: 1;
}

.banner {
  position: relative;
  margin-top: 0;
  min-height: 100vh;
  background: url(../static/images/banner.jpg) 100%;
  background-size: 100%;
  min-height: 900px;
  background-repeat: no-repeat;
}

.logo img {
  width: 100px;
  /* padding: 0 20px; */
  float: left;
  text-decoration: none;
}

nav {
  float: right;
}

.clearfix {
  clear: both;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  margin: 10px 10px;
  padding: 10px 20px;
  text-decoration: none;
  color: #30475e;
  font-size: 1.5em;
}

nav ul li a.active,
nav ul li a:hover {
  background: #30475e;
  color: #fff;
  border-radius: 5px;
  transition: 0.5s;
}

@media (max-width: 1800px) {
  header {
    margin: 20px;
  }
}

@media (max-width: 768px) {
  .menu-toggle {
    margin: 20px;
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: #30475e;
  }
  .menu-toggle::before {
    content: ' \f0c9';
    font-family: fontAwesome;
    line-height: 40px;
  }

  .menu-toggle.active::before {
    content: ' \f00d';
  }

  nav {
    display: none;
  }

  nav.active {
    display: block;
    width: 100%;
  }

  nav.active ul {
    display: block;
  }

  nav.active ul li a {
    margin: 5px;
  }
}

.text {
  position: relative;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 20vh;
  background: #30475e;
  width: 900px;
  height: 260px;
  opacity: 0.9;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.text h2 {
  margin: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  color: #fff;
}

.btcontact {
  position: relative;
  bottom: 25px;
  left: 50px;
}

.btcontact a {
  background: #fff;
  padding: 10px;
  color: #30475e;
  border-radius: 15px;
  font-size: 2em;
  text-decoration: none;
  opacity: 0.9;
  transition: 0.3s;
}

.btcontact a:hover {
  padding: 20px;
  opacity: 1;
  transition: 0.3s;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.who {
  margin: 70px;
  background-color: #fff;
  margin-top: 75px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.who h3 {
  color: #30475e;
  font-size: 3em;
}

.line {
  top: 30px;
  position: relative;
  background: #30475e;
  width: 100px;
  height: 5px;
  border-radius: 50%;
}

.who p {
  margin: 70px;
  font-size: 1.4em;
}

.btabout {
  margin-top: 230px;
  position: absolute;
  left: 140px;
}

.btabout a {
  padding: 15px;
  background: #30475e;
  color: #fff;
  border-radius: 15px;
  font-size: 1.3em;
  transition: 0.2s;
}

.btabout a:hover {
  padding: 20px;
  transition: 0.2s;
  box-shadow: rgb(38, 57, 77) 0px 10px 15px -10px;
}

.work {
  position: relative;
  margin: 50px;
}

.work .renovation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.renov {
  position: relative;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #fff;
  border-radius: 15px;
  max-width: 100%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.no-grid {
  max-width: 800px;
  height: 500px;
  margin: 15px;
  flex: 1;
  transition: 0.5s;
}

.no-grid:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.renov h3 {
  color: #30475e;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.renov h3::before {
  content: '';
  flex: 1 1;
  border-bottom: 2px solid #000;
  margin: auto;
}

.renov h3 img {
  margin-bottom: -45px;
  width: 250px;
}

.renov p {
  color: #30475e;
  margin: 15px;
  font-size: 1.2em;
}

.hardpoint {
  background: #fff;
  margin: 75px;
  max-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.hardpoint h3 {
  margin-top: 50px;
  color: #30475e;
  font-size: 3em;
}

.slider {
  max-width: 800px;
  height: auto;
  margin: 75px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 800px;
  height: 500px;
}

/* css for manual navigation */

.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #30475e;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

/* css for automatic navigation */

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #30475e;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #30475e;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #30475e;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #30475e;
}

.btdecouvrir {
  position: relative;
  bottom: 25px;
  left: 0px;
}

.btdecouvrir a {
  padding: 15px;
  background: #30475e;
  color: #fff;
  border-radius: 15px;
  font-size: 1.3em;
  transition: 0.2s;
}

.btdecouvrir a:hover {
  padding: 20px;
  transition: 0.2s;
  box-shadow: rgb(38, 57, 77) 0px 10px 15px -10px;
}

#counter {
  /* position: relative; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  /* margin: 70px; */
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 25px;
  padding: 40px 0px;
  max-width: 100%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
#counter .item {
  background: #fff;
  width: 200px;
  padding: 35px 40px;
  margin: 10px;
  text-align: center;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#counter .item .count {
  color: #30475e;
  margin-bottom: 5px;
  font-size: 40px;
}
#counter .item h3 {
  color: #30475e;
  /* text-transform: capitalize; */
}

footer {
  position: relative;
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

footer p {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #30475e;
  font-size: 0.7em;
}

footer a {
  background: #30475e;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 0.7em;
  transition: 0.2s;
}

footer a:hover {
  padding: 7px;
  transition: 0.2s;
  box-shadow: rgb(38, 57, 77) 0px 10px 15px -10px;
}

@media (max-width: 991px) {
  body {
    background: #fff;
  }

  .banner {
    background-size: 100%;
    min-width: 100px;
    max-height: 450px;
    margin-right: 15px;
  }

  .text {
    min-width: 350px;
  }
}
